@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Permanent+Marker&display=swap');

body,html{
    margin:0;
    padding: 0;
    background-color: #E5E5E5 !important;
}
h1,h2,h3,h4,h5{
    font-family: "Montserrat";
}
p{
    font-family: "Montserrat";
    font-size:  1.5vw;
}
h1{
    font-size: 2.5vw  !important;
    font-weight: bolder !important
}
h4{
    font-size: 1.3vw !important
}
.main-flex{
    padding: 2vh 3% 10px 3% !important;
    margin:0 !important;
}
.main{
    position: relative;
    box-sizing: border-box
}
.upper img{
    width: 100vw;
    max-width:"100%" !important
}
.lower img{
    width: 100vw;
    max-width:"100%" !important
}
.lower{
    position: absolute;
    top:0;
    
}
.upper{
    position: absolute;
    top:0;
    opacity: 0.8;
    max-height: 100%;
}
.logo{
    font-family: "permanent Marker";
    padding-bottom: 7vw !important;
    padding-left: 5% !important
    
}
.text{
    padding: 20px;
    position: relative;
    top:0;
    z-index:100;
    height: 60vw;
}
input{
    margin: 0 !important;
    padding:10px;
}
.main-flex1 p{
    margin-bottom: 8vh;
}
.forms{
    margin: 0 !important
}
.submit{
    background-color: #19D275;
    border-style: none;
    outline: none;
    color: white;
}
#mobile-hero{
    display: none
}
.line{
    width:40px;
    height: 2px;
    background-color: #11508E;
}
#features h2{
    font-size: 2.5vw !important;
    font-weight: bolder !important
}
#people{
    position: relative;
}
.text .line{
    background-color: white;
    width: 174px;
}
.people-item{
    width:30%;

}
.arrowed{
    background-color: white !important;
    background-size: 100%;
    padding: 20px 15%;
    height:12vw;
    position: relative;
    margin-bottom: 2.3vw;
} 
.people-item h2{
    font-size: 2vw !important;
    color: white;
}
.people-item p{
    color: white;
}
.arrowed::after{
    content: " ";
    width: 0px;
    height: 0px;
    border-top: 2vw solid white;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    left:45%;
    top: 100%;
    margin-bottom: 2vw
}
.arrowed p{
    font-size: 1vw;
    color: black !important
}
@media only screen and (max-width:601px){
    #mobile-hero{
        display: block;
        background-color: #1976D2;
        color: white
    }
    .logo-mobile{
        font-family: "permanent Marker";
    }
    .main{
        display: none
    }
    .mobile-hero-img{
        padding: 0 !important;
        margin: 0 !important
    }
    #mobile-hero h1{
        font-size: 32px !important;
        font-weight: bolder !important
    }
    #mobile-hero p, #mobile-hero h4{
        font-size: 21px !important;
        font-weight: normal
    }
    #mobile-hero input{
        width: 100%;
    }
    input{
        padding:8px;
        background-color: #11508E;
        height: 70px;
        border-style: none;
        outline: none;
    }
    input::placeholder {
        font-size: 21px;
    }
    .mobile-submit{
        background-color: #19D275;
        color: white;
        padding: 16px 53px;
        font-size: 21px;
    }
    @media screen and (max-width:576px){
         #features p{
        font-size: 21px !important;
        text-align: center !important;
        margin-bottom: 50px !important;
    }
    #features h2{
        font-size: 32px !important;
        text-align: center !important;
        font-weight: bold !important;
        margin-top: 20px !important
    }
    .lower, .upper {
        display: none;
    }
    .people-flex{
        flex-direction: column;
    }
    .people-item{
        width:100% !important;
    }
    .people-intro h2{
        color:black !important;
        font-weight: bolder;
    }
    .people-intro p{
        color:black !important;
        font-size: 20px !important
    }
    .text .line{
        background-color: #1976D2
    }
    .arrowed{
        height:auto !important;
        border:1px solid #B8B8B8;
        margin-bottom: 30px;
    }
    .arrowed  img{
        width: 20px;
    }
    .arrowed p{
        font-size: 21px
    }
    .arrowed::after{
        border-top: 20px solid white;
        top:100% !important;
        z-index:20
    }
    .peep{
        width:108px !important;
        height: 110px !important;

    }
    .details h2{
        font-size: 21px !important;
        color: black;
    }
    .details p{
        font-size: 18px !important;
        color: black
    }
  }
    
}


@media only screen and (max-width:1100px) {
    @media only  screen and (min-width:601px) {
    .logo{
        padding-bottom: 5vw !important;
        padding:10px 0
    }
    .main-flex{
        padding: 0 3% !important;
        margin:0 !important;
    }
    .main-flex1 h1{
        margin:0 !important;
        padding: 0  !important;
        font-size: 3vw !important
    }
    .main-flex1 p{
        font-size: 1.4vw;
        margin-bottom: 3vh !important;
    }
    .main-flex1 h4{
        font-size: 1.8vw !important;
        font-weight: normal !important;
    }
    .soon{
        font-size: 20px !important
    }
    }
    
}